h1{
  font-family: 'Gruppo', cursive;
  text-align: center;
  color:black;
  font-size: 40px;
}
html, body{
  overflow: hidden;
}
#overlay {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  z-index:9999;
  position: fixed;
}
.hidden {
  display: none;
}
#svgObject {
  z-index: -9;
}
svg{
  display: block;
  position: absolute;
  border: none;
  background-color: hsla(100, 100%, 100%, 0.9)
}